body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("/img/lib-bground.jpg");

}
.table{
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

#header-title{

}
#main-header{
  background-color: rgba(0, 0, 0, 0.9);
  background-position: 50% 5%;
}