body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("../img/lib-bground.jpg");
  color: black;
}
.table{
  background-color: rgba(0, 0, 0, 0.8);
}

#main-header{
  background-color: rgba(0, 0, 0, 0.9);
  background-position: 50% 5%;
}

#book-form{
  display: grid;
  background-color: rgba(222, 184, 135, 0.9);
  text-align: center;
  font-weight: bolder;
  padding: 5%;
}

.first{
  color: burlywood;
  text-transform: uppercase;
  font-size: larger;
}

#book-list{
  color: aliceblue;
  font-size: larger;
  font-weight: bolder;
}
